/*!
 izBootstrap
 */
 
 /* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body { color: #333333;font-size: 16px; font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a {color: #79b6e4;text-decoration: none;}

h1 {font-size: 55px;}
h2 {font-size: 45px;}
h3 {font-size: 30px;}
h4 {font-size: 25px;}
h5 {font-size: 20px;}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 45px;
    line-height: 1;
    text-shadow: 0px 0px 0px #000000;
    margin-bottom: 30px;
    right: 0px;
}

p{
    letter-spacing: 1px;
    font-size: 16px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/* --Line-- */

hr { margin: 15px auto; padding: 0; max-width: 130px;border: 0; border-top: solid 3px #333;text-align: center;}
hr:after {content: url(../images/dots.png);display: inline-block;position: relative;top: -.8em;padding: 0 .55em;font-family: FontAwesome;color: #333;background-color: #F0F0F0;}

/* --Color-- */
.red {color: #E01563;}
.yellow {color: #E9A820;}
.blue {color: #6ECADC;}
.green {color: #3EB991;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------Header+Nav--------------------------------- */
/* ---------------------------------------------------------------------------- */
.navbar-default {border-color: transparent;background-color: #222;}
.navbar-default .navbar-brand {font-family: Helvetica,Arial,cursive;color: #6ECADC;}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #6ECADC;
    font-family: dhyana;
    font-style: normal;
    font-weight: 400;
}

.navbar-default .navbar-collapse {border-color: rgba(255,255,255,.02);}

.navbar-default .navbar-toggle {border-color: #6ECADC;background-color: #6ECADC;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {background-color: #6ECADC;}

.navbar-default .nav li a {text-transform: uppercase;font-family: Helvetica,Arial,sans-serif;font-weight: 400;letter-spacing: 1px;color: #fff;}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {outline: 0;color: #BEBEBE;}
.nav.navbar-nav.navbar-right li .page-scroll {
    /* [disabled]color: #FBFBFB; */
    /* [disabled]background-color: #FFFFFF; */
}

.navbar-default .navbar-nav>.active>a {border-radius: 0;color: #fff;background-color: #4d4d4d;}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {color: #fff;background-color: #4D4D4D;}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
header{
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 650px;
}	
#page-top {
}
#page-top {
}
header img{display: block; margin: 200px auto  50px auto;}
header .intro-text .intro-heading {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 62px;
    color: #FFFFFF;
    margin-bottom: 60px;
    padding-bottom: 0px;
    padding-top: 10px;
}
header .intro-text .intro-lead-in {
    margin-bottom: 0px;
    font-family: "Shadows Into Light", cursive;
    font-style: italic;
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
@media(min-width:635px) {
    header .intro-text {
    padding-bottom: 200px;
    padding-top: 50px;
    }
}
@media(max-width:420px) {
	header .intro-text .intro-heading {font-size: 33px;}
	header .intro-text .intro-lead-in {font-size: 22px;}
	header .intro-text {padding-bottom: 40px;}
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content{}
#page-content.index-page {background: #F0F0F0;}
#page-content.archives-page {padding: 70px 0;background: #F7F7F7;}
#page-content.single-page {padding: 70px 0;background: #F7F7F7;}

/* ---HomePage--- */
.box-content {padding: 100px 0;}
.box-content .heading{margin-bottom: 30px; text-align: center;}
.box-content .heading h2{
    font-size: 45px;
    letter-spacing: 2px;
    color: #000000;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box-content .heading .intro{
    margin-bottom: 30px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    color: #000000;
    margin-top: 30px;
}

.box-content.box-style {background-attachment:fixed; background-image: url(file:///Users/hy/Desktop/%E5%8F%82%E6%95%B0%E5%8C%96%E8%AE%BE%E8%AE%A1/%E5%A4%A7%E4%BD%9C%E4%B8%9A/%E7%BD%91%E7%AB%99/%E5%BE%AE%E8%A7%82%E4%B8%8B%E7%9A%84%E6%8A%97%E8%8F%8C%E8%A1%A8%E9%9D%A2/cpts_463_sw/images/bt_1.jpeg); background-color: #222;color:#fff;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------Services(box-1)------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-1 {
    text-align: center;
    background-color: #FFFFFF;
}
.box-content.box-1 h3 {
    margin-bottom: 15px;
    font-size: 18px;
    bottom: 15px;
    top: 15px;
    text-shadow: 0px 0px #000000;
    color: #000000;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box-content.box-1 .wrap-img{margin-bottom:40px;}
.box-content.box-1 .box-item {}

/* ---------------------------------------------------------------------------- */
/* --------------------------------New(box-2)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-2 {}
.box-content.box-2 blockquote {
    position: relative;
    padding: 30px 120px;
    text-align: left;
    font-size: 24px;
    -webkit-box-shadow: inset 0px 0px;
    box-shadow: inset 0px 0px;
    background-image: url(images/bt_1.jpeg);
    font-weight: 200;
    text-shadow: 2px 2px 4px #000000;
    line-height: 26pt;
}
.box-content.box-2 blockquote:before, .box-content.box-2 blockquote:after {position: absolute;width: 60px;height: 60px;font-size: 130px;line-height: 1; }
.box-content.box-2 blockquote:before {top: 0;left: 0;content: "\201C"; }
.box-content.box-2 blockquote:after {top: 0;right: 0;content: "\201D"; }

@media only screen and (max-width: 1100px) {
 	.box-content.box-2 blockquote {font-size: 30px; } }
@media only screen and (max-width: 960px) {
 	.box-content.box-2 blockquote {padding: 30px 60px; font-size: 18px; }
   	.box-content.box-2 blockquote:before, .box-content.box-2 blockquote:after { width: 30px; height: 30px; font-size: 60px; } }
@media only screen and (max-width: 690px) {
 	.box-content.box-2 blockquote { padding: 10px 30px;font-size: 16px; }
  	.box-content.box-2 blockquote:before,.box-content.box-2 blockquote:after {font-size: 30px; } }

/* ---------------------------------------------------------------------------- */
/* ------------------------------About(box-3)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-3 {}

.timeline {position: relative;padding: 0;list-style: none;}
.timeline:before {content: "";position: absolute;top: 0;bottom: 0;left: 40px;width: 2px;margin-left: -1.5px;background-color: #6ECADC;}
.timeline>li {position: relative;margin-bottom: 50px;min-height: 50px;}
.timeline>li:before,
.timeline>li:after {content: " ";display: table;}
.timeline>li:after {clear: both;}
.timeline>li .timeline-panel {float: right;position: relative;width: 100%;padding: 0 20px 0 100px;text-align: left;}
.timeline>li .timeline-panel:before {right: auto;left: -15px;border-right-width: 15px;border-left-width: 0;}
.timeline>li .timeline-panel:after {right: auto;left: -14px;border-right-width: 14px;border-left-width: 0;}
.timeline>li .timeline-image {z-index: 100;position: absolute;left: 0;width: 80px;height: 80px;margin-left: 0;border: 6px solid #6ECADC;border-radius: 100%;text-align: center;color: #fff;background-color: #6ECADC;}
.timeline>li .timeline-image h4 {margin-top: 12px;font-size: 10px;line-height: 14px;}
.timeline>li.timeline-inverted>.timeline-panel {float: right;padding: 0 20px 0 100px;text-align: left;}
.timeline>li.timeline-inverted>.timeline-panel:before {right: auto;left: -15px;border-right-width: 15px;border-left-width: 0;}
.timeline>li.timeline-inverted>.timeline-panel:after {right: auto;left: -14px;border-right-width: 14px;border-left-width: 0;}
.timeline>li:last-child {
    margin-bottom: 0;
    line-height: 1.5;
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: #7D7D7D;
    font-size: 24px;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
    color: #000000;
}
.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    color: #000000;
    text-align: justify;
    line-height: 22px;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}
@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}
@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------Team(box-4)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-4 {
    background-image: url(../images/bt_1.jpeg);
}
.box-content.box-4 .box-item{margin-bottom: 10px; display: inline-block;}
.box-content.box-4 span{display: block; font-weight: bold; margin-top: 10px;}
.box-content.box-4 img{
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 30px;
    margin-bottom: 5px;
    left: 10px;
    right: 10px;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------Contact(box-5)-------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-5 {padding:110px 0 ;}
.box-content.box-5 .box-item{margin: 5px; }
.box-content.box-5 h3 {margin-bottom: 30px;font-size: 35px;}
.box-content.box-5 p {margin-bottom: 20px;}
.box-content.box-5 input {border: 1px solid #777;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.box-content.box-5 textarea {border: 1px solid #777;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;height: 240px;}

.message{text-align: center;margin: 100px 0;}
.message .wrap{	padding: 50px; background: #ffffff; border: 1px solid #333333;display: inline-block;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-khtml-border-radius: 5px;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {color: #fff; }
footer p{
    margin-bottom: 20px;
    display: block;
    text-align: left;
    font-size: small;
    line-height: 13pt;
}
footer a{color: #6ECADC;}
footer a:hover{
    color: #FFFFFF;
    text-decoration: underline;
    font-size: medium;
    text-align: right;
}
footer .wrap-footer {padding-top: 50px;background-color: #222;}

footer .col-footer{margin-bottom: 50px;}
footer .col-footer .heading{text-align: center;}
footer .col-footer .heading h4{
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer .col-footer .content{}

footer .col-footer.footer-1{}
footer .col-footer.footer-1 img{width:40%;}

footer .col-footer.footer-2{
    padding-left: 118px;
}

footer .col-footer.footer-3{}
footer .col-footer.footer-3 img{margin: 10px 0;}
  
footer .copyright {padding: 15px 0;background-color: #F7F7F7;color:#222; text-align:center;}
footer .copyright p, footer .copyright ul{margin: 20px 0;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Subcribe-------------------------------- */
/* ---------------------------------------------------------------------------- */
#subcribe {margin: 10px 0;}

#subcribe input[type="text"] {
    background:#26232D;
    font: 15px Arial,Helvetica,Sans-serif;
    color: #867B6E;
    width: 100%;
	border-radius: 0px;
    padding: 10px;
    border: 1px solid #aaa;
  
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
	border-radius: 2px;
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;	
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 14px;
}
a.btn:focus{outline: 0;}

.btn-1 {color: #fff;background-color: transparent;border: 2px solid #fff;margin:0 15px 20px 0;min-width: 170px;line-height: 26px;}
.btn-1:hover {color: #000;background-color: #fff;border-color: #fff;}

.btn-2 {background: #333;border: 2px solid transparent;margin:20px 0 50px 0; color:#fff;}
.btn-2:hover {color:#333;border:2px solid #333;background:transparent;}

.btn-3 {background: #6ECADC;margin: 20px 0 10px 0;border: 2px solid transparent;font-size:25px;}
.btn-3:hover {color:#333;border:2px solid #6ECADC;background:transparent;}

.btn-4 {background: #555;border: 2px solid transparent;font-size:18px;}
.btn-4:hover {color:#aaa;border:2px solid #555;background:transparent;text-shadow: none;}
